.mg-top {
   margin-top: 30px;
}

.date-block {
   height: 100px;
   margin-top: 35px;
   text-align: center;
   background-color: #e9ecf0;
   line-height: 100px;
}


.main-block {
   font-family: Poiret One;

   

   .top-genre-block {
      text-align: center;
      margin-top: 40px;
      
      h2 {
         text-transform: uppercase;
      }

      h2::before {
         content: '— •';
         margin-right: 20px;
         opacity: 0.2;
      }
      h2::after {
         content: '• —';
         margin-left: 20px;
         opacity: 0.2;
      }
   }

   .genre-block {
      text-align: center;
      margin-top: 50px;

      h2::before {
         content: '— •';
         margin-right: 20px;
         opacity: 0.2;
      }
      h2::after {
         content: '• —';
         margin-left: 20px;
         opacity: 0.2;
      }
   }
}

